<!-- app/views/orders/cancel.html.erb -->
<div class="container mx-auto py-8">
  <h2 class="text-2xl font-semibold mb-6">Payment Canceled</h2>
  <p>Your payment was canceled. If you have any questions, please contact our support team.</p>
  <%= link_to 'Try Again', new_order_path, class: 'bg-primary text-white py-2 px-4 rounded-full' %>
</div>
