<!-- app/views/orders/success.html.erb -->
<div class="container mx-auto py-8">
  <h2 class="text-2xl font-semibold mb-6">Payment Successful</h2>
  <p>Thank you for your purchase! Your order has been successfully processed.</p>
  <%= link_to 'View Order History', customer_orders_path, class: 'bg-primary text-white py-2 px-4 rounded-full' %>
  <%= link_to 'Continue Shopping', root_path, class: 'bg-primary text-white py-2 px-4 rounded-full' %>
</div>
