<div class="container mx-auto px-4">
  <section class="bg-white py-10">
    <div class="flex flex-wrap -mx-4 items-center">
      <!-- Image Section -->
      <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
        <img src="<%= asset_path('customersupport.jpg') %>" alt="Contact Us" class="w-full h-auto object-cover rounded shadow-lg">
      </div>
      <!-- Contact Information Section -->
      <div class="w-full md:w-1/2 px-4">
        <div class="text-left mb-10">
          <h2 class="text-4xl font-bold text-gray-800 mb-4">Contact Us</h2>
          <p class="text-lg text-gray-600 mb-6">We'd love to hear from you! Reach out to us through any of the following methods:</p>
        </div>
        <div class="mb-8">
          <h3 class="text-lg font-semibold mb-4">Office Address</h3>
          <p class="text-lg text-gray-700">
            316 Ross Avenue, Winnipeg, Canada
          </p>
        </div>
        <div class="mb-8">
          <h3 class="text-lg font-semibold mb-4">Phone</h3>
          <p class="text-lg text-gray-700">
            (431) 556-4625
          </p>
        </div>
        <div class="mb-8">
          <h3 class="text-lg font-semibold mb-4">Email</h3>
          <a href="mailto:info@company.com" class="text-lg text-blue-500 underline">jemtech.shop@gmail.com</a>
        </div>
      </div>
    </div>
  </section>
</div>
