<%= turbo_stream.replace 'cart-dropdown' do %>
  <%= render partial: 'layouts/cart_dropdown', locals: { cart: @cart } %>
<% end %>

<%= turbo_stream.append 'flash-messages' do %>
  <div class="alert alert-success">
    Item added to cart!
  </div>
<% end %>
