<div class="container mx-auto px-4">
  <!-- Swiper Slider -->
  <section id="product-slider">
    <div class="main-slider swiper-container">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <img src="<%= asset_path('main-slider/5.jpg') %>" alt="Product 1">
          <div class="swiper-slide-content">
            <h2 class="text-3xl md:text-7xl font-bold text-white mb-2 md:mb-4">Women</h2>
            <p class="mb-4 text-white md:text-2xl">Experience the best in sportswear with our latest collection.</p>
            <a href="/" class="bg-primary hover:bg-transparent text-white hover:text-white border border-transparent hover:border-white font-semibold px-4 py-2 rounded-full inline-block">Shop now</a>
          </div>
        </div>
        <!-- Slide 2 -->
        <div class="swiper-slide">
          <img src="<%= asset_path('main-slider/2.png') %>" alt="Product 2">
          <div class="swiper-slide-content">
            <h2 class="text-3xl md:text-7xl font-bold text-white mb-2 md:mb-4">Men</h2>
            <p class="mb-4 text-white md:text-2xl">Discover the latest trends in Men's sportswear and casual fashion.</p>
            <a href="/" class="bg-white hover:bg-transparent text-black hover:text-white font-semibold px-4 py-2 rounded-full inline-block border border-transparent hover:border-white">Shop now</a>
          </div>
        </div>
        <!-- Slide 3 -->
        <div class="swiper-slide">
          <img src="<%= asset_path('main-slider/4.jpg') %>" alt="Product 3">
          <div class="swiper-slide-content">
            <h2 class="text-3xl md:text-7xl font-bold text-white mb-2 md:mb-4">Accessories</h2>
            <p class="mb-4 text-white md:text-2xl">Elevate your style with our latest sportswear collection.</p>
            <a href="/" class="bg-primary hover:bg-transparent text-white hover:text-white border border-transparent hover:border-white font-semibold px-4 py-2 rounded-full inline-block">Shop now</a>
          </div>
        </div>
      </div>
      <!-- Slider Pagination -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
</div>
